<!DOCTYPE HTML>
<html>
<head>
    <title>ViLLAGERS !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header></header>
    <nav>
        <hr>
        <ul class="nav" style="height:50px;">
            <li class="menu" ><a href="/place">장소</a></li>
            <li class="menu"> <a href="/board/list">게시판</a> </li>
        </ul>
        <hr>
    </nav>
