<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <!--<link rel="stylesheet" th:href="@{/css/base.css}" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>프로필</h1>
    </div>
    <br/>
    <a class="btn btn-success" href="/member/myList">내 글 목록</a>
    <a class="btn btn-warning" href="/member/heartList">찜한 글 목록</a>
    <br/>
</div>
<div th:replace="layout/footer::footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>