{{>layout/header}}
    <div id="map" style="width:500px;height:400px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f63a467df66083374b05cd46e6144a23"></script>

    <!-- here 혼자 구현하는~ 대로 경로썼음 -->
    <script type="text/javascript" src="/js/kakao-map/createMap.js"></script>
    <!--
    <script type="text/javascript" src="positionsArray.js?ver=1"></script>
    <script type="text/javascript" src="createContent.js?ver=2"></script>
    <script type="text/javascript" src="createCustomOverlay.js?ver=1"></script>
    -->
    <!--<script type="text/javascript" src="createPlaceObjects.js"></script>-->
    <!--
    <script type="text/javascript" src="setPlaces.js?ver=1"></script>
    <script type="text/javascript" src="changePlace.js?ver=1"></script>
    -->

{{>layout/footer}}